*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 8rem 3rem;    
    background-color: $very-light-gray;
    overflow-x: hidden;
    user-select: none;
}

html::-webkit-scrollbar {
    display: none;
}