.feature {
    max-width: 1440px;
    margin: 0 auto;

    &__container {
        row-gap: 2.5rem;
        padding: 4rem 0;

        @include tablet () {
            width: 70%;
            margin: 0 auto;
        }
        @include laptop() {
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            column-gap: 2.5rem;
            row-gap: 0;
        }
    }
}