.footer {
    &__attribution {
        font-size: 1.5rem;
        text-align: center;
        color: $very-dark-blue;
        font-weight: $regular;

        a {
            display: inline-block;
            color: transparent;
            text-decoration: none;
            font-size: 2rem;
            font-weight: $semi-bold;
            background: linear-gradient(to left, $cyan 25%, $red 25%, $red 50%, $orange 50%, $orange 75%, $blue 75%);
            -webkit-background-clip: text;
            background-clip: text;
            transition: transform 1s;

            &:hover {
                background: radial-gradient(circle at bottom, $very-light-gray 25%, $cyan 25%, $cyan 35%, $red 35%, $red 45%, $orange 45%, $orange 55%, $blue 55%);
                border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
                transform: scale(2);
                filter: blur(3px) opacity(0.5);
                transform-origin: bottom;
                height: 5rem;
                width: 10rem;
            }
        }
    }
}
