//______________* Colors

// Primary
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
// Neutral
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);


//______________* Typography

$font-family: 'Poppins', sans-serif;
$font-size: 1.5rem;
$extra-light: 200;
$regular: 400;
$semi-bold: 600;
